.md-tabs__link{
  color: white;
}

.md-typeset a {
color: #ff2a42;
word-break: break-word;
}

.md-typeset .admonition, .md-typeset {
  font-size: .8rem;
}

.md-typeset h1 {
  font-size: 3em;
  font-weight: bold;
  color: black;
}

.md-typeset h2 {
  font-weight: bold;
}

.md-typeset h3 {
  font-weight: bold;
  letter-spacing: -.01em;
  margin: 1em 0;
  font-size: larger;
}

.md-typeset h4 {
  font-weight: bold;
  letter-spacing: -.01em;
  margin: 1em 0;
  font-size: larger;
}

.md_header__title {
  margin-left: 0px;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:active {
  text-decoration: none;
  color: inherit;
}


.md-typeset a {
  color: #ff2a42;
}
