<!-- Custom HTML site displayed as the Home chapter -->

{% extends "main.html" %}
{% block tabs %}
{{ super() }}

  <!-- Hero -->
  <div class="bg-light pt-5 pb-5">
    <div class="container space-1">
      <div class="row justify-content-lg-between align-items-md-center">
        <div class="col-md-6 mb-5 mb-md-0">
          <div class="mb-3">
            <h1>Welcome to 4Geeks Help Center</h1>
          </div>
          <div class="d-flex">
            <p>Find docs, guides, tutorials and samples for all 4Geeks
              products in a single place.
          </div>
          <a class="btn btn-dark text-light" href="/get-started">Get started</a>
          <a class="btn btn-link btn-sm" href="#products">Explore products</a>
        </div>
        <div class="col-md-5">
          <img class="img-fluid" src="https://htmlstream.com/preview/front-v4.3.1/assets/svg/illustrations/oc-looking-for-answers.svg" alt="Image Description">
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero -->



  <!-- Card Grid -->
  <div class="container mt-5" id="products">

    <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-7 pb-4">
      <h3>Explore all products</h3>
      <p>Find help documentation by product.</p>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 1 row-cols-md-3 row-cols-lg-4 mb-5">

      <div class="col mb-3 mb-sm-4">
        <a class="card card-sm card-bordered card-transition h-100" href="/payments">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="card-title text-inherit">4Geeks Payments</h5>
                <p class="card-text text-body small">Online payments platform.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col mb-3 mb-sm-4">
        <a class="card card-sm card-bordered card-transition h-100" href="/talent">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="card-title text-inherit">4Geeks Talent</h5>
                <p class="card-text text-body small">Verified job-seekers pool of talent.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col mb-3 mb-sm-4">
        <a class="card card-sm card-bordered card-transition h-100" href="/payroll">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="card-title text-inherit">4Geeks Payroll</h5>
                <p class="card-text text-body small">Smart global payroll.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col mb-3 mb-sm-4">
        <a class="card card-sm card-bordered card-transition h-100" href="/perks">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="card-title text-inherit">4Geeks Perks</h5>
                <p class="card-text text-body small">Employee services platform.</p>
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
  <!-- End Card Grid -->


{% endblock %}
{% block content %} {% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
